<!DOCTYPE html>
<html xmlns:th="http//www.thymeLeaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<br>
<br>
<br>
	<div class="container">
		<h1 class="text-center">가계부</h1>
		<br>
		<div th:if="${session.loginMember != null}">ON
			<a href="/logout" class="btn btn-primary">로그아웃</a>
		</div>
		<div th:if="${session.loginMember == null}">OFF
			<a href="/login" class="btn btn-primary">로그인</a>
		</div>
		<br>
		<h1 class="text-center">시작하기</h1>
		<br>
		<br>
		
		
		<div class="text-center">
			<a class="btn btn-primary" href="/login">로그인</a>
		</div>
		<br>
		<br>
		<div class="text-center">
			<a class="btn btn-primary" href="/addMember">회원가입</a>
		</div>
		<br>
		<br>
		<div style="text-align:center">본 콘텐츠의 저작권은 제공처에 있으며, 이를 무단 이용하는 경우 저작권법 등에 따라 법적 책임을 질 수 있습니다.</div>
		<div style="text-align:center">Copyright © JWsoft Corp. All Rights Reserved.</div>
	</div>
</body>
</html>