<!DOCTYPE html>
<html xmlns:th="http//www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
 #aside {
        width: 200px;
        height: 600px;
        position: fixed;
        background:#B5B2FF;
        overflow: hidden;
        float: left;
        /* text-decoration: none; */
    }
    
    #section {
        margin-left: 300px;
        background: white;
    }

</style>

</head>
<body>
	<div class="container">
		<h1>memberInfo</h1>
		<div id="aside" th:include="/include/menu::sidemenu"></div>
		<div id="section">
		<div class="text-right">
			<a class="btn btn-secondary" th:href="@{/removeMember}">회원탈퇴</a>
		</div>
		<table class="table">
			<tr>
				<td>사진</td>
				<td>
					<img th:src="${'/upload/'+member.memberPic}">
				</td>
			</tr>
			<tr>
				<td>아이디</td>
				<td th:text="${member.memberId}"></td>
			</tr>
			<tr>
				<td>이름</td>
				<td th:text="${member.memberName}"></td>
			</tr>
			<tr>
				<td>주소</td>
				<td th:text="${member.memberAddr}"></td>
			</tr>
			<tr>
				<td>전화번호</td>
				<td th:text="${member.memberPhone}"></td>
			</tr>
			<tr>
				<td>이메일</td>
				<td th:text="${member.memberEmail}"></td>
			</tr>

		</table>
		<div class="text-right">
			<a class="btn btn-primary" th:href="@{/replaceMember}">회원수정</a>
		</div>
	</div>
	</div>
</body>
</html>