<!DOCTYPE html>
<html xmlns:th="http//www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$('#deleteBtn').click(function(){
			$('#deleteForm').submit();
		});
	});
</script>

</head>
<body>
<div class="container">
	<h1>회원탈퇴</h1>
	<div th:include="/include/menu::sidemenu"></div>
	<form id="deleteForm" action="/removeMember" method="post">
		<div>
			비밀번호 입력 : <input type="password" name="memberPw">
		</div>
	</form>
	<div><button id="deleteBtn" class="btn btn-danger">삭제</button></div>
</div>
</body>
</html>