<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.BoardMapper">

<insert id="insertBoard" parameterType="com.gdu.cashbook.vo.Board">
INSERT INTO board(
	board_title,
	board_content,
	board_writer,
	board_date
) VALUES(
	#{boardTitle},
	#{boardContent},
	#{boardWriter},
	CURDATE()
)

</insert>

<delete id="deleteBoard" parameterType="com.gdu.cashbook.vo.Board">
DELETE
FROM
	board
WHERE 
	board_no=#{boardNo}
</delete>

<update id="updateBoard" parameterType="com.gdu.cashbook.vo.Board">
UPDATE
	board
SET
	board_title=#{boardTitle},
	board_content=#{boardContent},
	board_date=#{boardDate},
	board_writer=#{boardWriter}
WHERE
	board_no=#{boardNo}
</update>
<select id="selectTotalRow" resultType="int">

SELECT count(*)
FROM board


</select>
<select id="selectBoardList" parameterType="java.util.Map" resultType="com.gdu.cashbook.vo.Board">
SELECT  
	board_no as boardNo,
	board_title as boardTitle,
	board_content as boardContent,
	board_writer as boardWriter,
	board_date as boardDate
FROM board
ORDER BY board_date DESC
LIMIT #{beginRow}, #{rowPerPage};

</select>
<delete id="deleteComment" parameterType="com.gdu.cashbook.vo.Comment">
DELETE FROM
	comment
WHERE
	comment_no=#{commentNo}
</delete>
<insert id="insertComment" parameterType="com.gdu.cashbook.vo.Comment">
INSERT INTO comment(
	comment_content,
	board_no,
	comment_writer
	)VALUES(
	#{commentContent},
	#{boardNo},
	#{commentWriter}
	)
</insert>

<update id="updateComment" parameterType="com.gdu.cashbook.vo.Comment">
	UPDATE 
		comment
	SET
		comment_content=#{commentContent}
	WHERE 
		comment_no=#{commentNo}	
</update>


<select id="selectCommentList" parameterType="int" resultType="com.gdu.cashbook.vo.Comment">
	SELECT 
		comment_no as commentNo,
		comment_content as commentContent,
		comment_writer as commentWriter,
		board_no as boardNo
	FROM
		comment
	WHERE
		board_no=#{boardNo};
	</select>

<select id="selectBoardOne" parameterType="int" resultType="com.gdu.cashbook.vo.Board">
SELECT
	board_no as boardNo,
	board_title as boardTitle,
	board_content as boardContent,
	board_writer as boardWriter,
	board_date as boardDate
FROM board
WHERE board_no=#{boardNo}
</select>
</mapper>